body {
	background-color: orange;
}

code {
	font-size: 18px;
	color: Purple;
}

legend {
	font-size: 30px;
}

.data {
	margin: 5px;
	box-sizing: border-box;
	border: 2px solid black;
	text-align: center;
	padding: 10px;
	height: 300px;
}

.buttons {
	display: block;
}

#wrapper {
	background-color: yellow;
	height: 400px;
}

#myCanvas {
}

#ballData  {
	background-color: purple;
	width: 300px;
}

#visualData {
	background-color: blue;
	width: 300px;
	position: absolute;
	left: 320px;
	top: 0px;
}

#canvasData {
	background-color: green;
	width: 300px;
	position: absolute;
	left: 610px;
	top: 0px;
}

#print {
	font-size : 50px;
	width: 700px;
	height: 300px;
	color: red;
	position: absolute;
	left: 500px;
	top: 10px;
}

.func {
	font-size: 20px;
	color: DarkGreen;
	font-weight: bold;
}

.var {
	font-size: 20px;
	color: blue;
	font-weight: bold;
}



